body, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding:0;
}

:root{
    --maincolor:#0070A0;
    --fontcolor:#1F1F1F;
}

p, h1, h2,a{
    font-weight: 400;
}
.accordion h1, .description details summary, .desc_point h2, .header_text h1, .color_block h1, .whirl_desc h1, .blue_desc h1, 
.header_task h1, .task_desc h2
{
    font-family: 'Fraunces';
}

.logo_nav  nav > a,.header_text h2, .header_companies h1, .color_block p, .description details p, .desc_point p, .blue_desc p, .blue_desc ul li,
.header_task p, .task_desc p
{
    font-family: 'InterL';
}
/*Шапка сайта*/
.header_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo_nav{
    display: flex;
    align-items: center;
}
.logo_nav  nav > a{
    text-decoration: none;
    color: var(--fontcolor);
    font-size: 15px;
    margin-right: 20px;
}

.logo_nav img{
    margin-right: 20px;
}
.logo_nav nav > a:last-child {
    margin-right: 0;
}

.logo_nav nav a:hover{
    color: #013a52;
}

.buttons{
    display: flex;
}
.buttons button:first-child{
    margin-right: 20px;
}

/*Заглавное изображение*/
.header_img{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.header_text{
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 153px;
}

.header_text h1{
    font-size: 58px;
    margin-bottom: 21px;
}

.header_text h2{
    font-size: 20px;
    width: 70%;
    margin-bottom: 29px;
}

/*Компании*/

.header_companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.header_companies h1{
    font-size: 24px;
    margin-bottom: 24px;
}

.header_compimg img{
    margin-right: 61px;
}
.header_compimg img:last-child{
    margin-right: 0px;
}

/*Цветные блоки*/
.color_blocks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    
}
.color_block{
    font-weight: 400;
    width: 291px; 
    height: 170px;
    padding: 40px 32px;
    margin-right: 31px;
}

.color_block h1{
    font-size: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.color_block p{
    line-height: 24px;
    font-size: 15px;
}

.color_block:first-child{
    background: #FAEA73;
}
.color_block:last-child{
    background: #F7CEDC;
    margin-right: 0;
}
.color_block:nth-child(2){
    background: #CCEFF6;
}

/*Аккордеон*/
/*Незаконченный, нужно доделать*/
.accordion{
    background:#F7F9FA;
    margin-top: 120px;    
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
}

.description div{
    width: 486px;
    margin-right: 140px;
}


.accordion h1{
    font-size: 39px;
    align-self: flex-start;
}

.description details summary{
    font-size: 21px;
}
.description details p{
    line-height: 24px;
}

/*Описание Whirl*/
.whirl_desc{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc_point{
    width:223px;
    margin-right: 32px;
}

.desc_point:last-child{
    margin-right:0;
}

.whirl_desc h1{
    font-size: 41px;
    line-height: 51px;
    width: 260px;
    margin-right: 135px;
}

.desc_point h2, .task_desc h2{
    font-size: 25px;
    margin-top: 8px;
}

.desc_point h2:first-child{
    margin-top: 62px;
}


.desc_point p, .task_desc p {
    margin-top:11px;
    font-size: 15px;
    line-height: 24px;
}

/*Темно-синяя секция с описанием*/
/*Отредактировать список*/
.blue_block{
    background:var(--maincolor);
    color: white;
    margin-top: 120px;
    padding: 80px 155px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue_desc{
    width: 500px;
    margin-left: 187px;
}
.blue_desc h1, .header_task h1{
    font-size: 42px;
    margin-bottom: 21px;
}

.blue_desc p, .blue_desc ul li, .header_task p{
    font-size: 18px;
    line-height: 27px;
}

/*Автоматизированные задачи*/
/*Сделать одинаково ровным заголовок и описания*/
.automated_task{
    margin-top: 120px;
}
.header_task{
    width: 50%;
    margin-bottom: 68px;
    margin-left: 180px;
}
.automated_task_desc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task_desc {
    width: 235px;
    margin-right:64px;
}
.task_desc:last-child{
    margin-right: 0;
}
